In [ ]:
# Initial imports.
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler

In [ ]:
# Installing Postgress
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"

 * Starting PostgreSQL 10 database server
   ...done.
ERROR:  role "root" already exists

In [ ]:
# setting connection to DB
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://postgres:groupcgroupc@flight-delay-project.chgeeix9show.us-east-2.rds.amazonaws.com:5432/flight-delay-tables

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: postgres@flight-delay-tables'

In [ ]:
# Creating DataFrame from DB table "sample_train_test" using %sql 

df = %sql SELECT * FROM public.sample_train_test
df.head()

 * postgresql+psycopg2://postgres:***@flight-delay-project.chgeeix9show.us-east-2.rds.amazonaws.com:5432/flight-delay-tables

   MONTH  DAY_OF_WEEK  DEP_DEL15  DISTANCE_GROUP  ... SNOW  SNWD  TMAX  AWND
0     11            1      False               4  ...  0.0   0.0  71.0  3.36
1      1            4      False               5  ...  0.0   0.0  27.0  6.04
2      6            6      False               4  ...  0.0   0.0  85.0  7.61
3      2            5       True               3  ...  0.0   0.0  62.0  2.91
4      4            7      False               3  ...  0.0   0.0  90.0  7.38

[5 rows x 26 columns]

In [ ]:
# Encoding the data set

# Encoding "departure_block" feature
dep_block = {"EARLY_MORNING": 0,
             "MORNING": 1,
             "AFTERNOON": 2,
             "MIDDAY": 3,
             "EVENING": 4,
             "LATE_NIGHT": 5}

encoded_df = df.copy()
encoded_df['DEP_BLOCK'] = encoded_df['DEP_BLOCK'].apply(lambda x: dep_block[x])

In [ ]:
carrier_name = {"SkyWest Airlines Inc.": 1,
                "Frontier Airlines Inc.": 2,
                "American Eagle Airlines Inc.": 3,
                "Delta Air Lines Inc.": 4,
                "Alaska Airlines Inc.": 5,
                "Southwest Airlines Co.": 6,
                "American Airlines Inc.": 7,
                "Hawaiian Airlines Inc.": 8,
                "JetBlue Airways": 9,
                "Endeavor Air Inc.": 10,
                "United Air Lines Inc.": 11,
                "Spirit Air Lines": 12,
                "Allegiant Air": 13,
                "Midwest Airline, Inc.": 14,
                "Comair Inc.": 15,
                "Mesa Airlines Inc.": 16,
                "Atlantic Southeast Airlines": 17}

encoded_df['CARRIER_NAME'] = encoded_df['CARRIER_NAME'].apply(lambda x: carrier_name[x])
encoded_df.head()

   MONTH  DAY_OF_WEEK  DEP_DEL15  DISTANCE_GROUP  ...  SNOW  SNWD  TMAX  AWND
0     11            1      False               4  ...   0.0   0.0  71.0  3.36
1      1            4      False               5  ...   0.0   0.0  27.0  6.04
2      6            6      False               4  ...   0.0   0.0  85.0  7.61
3      2            5       True               3  ...   0.0   0.0  62.0  2.91
4      4            7      False               3  ...   0.0   0.0  90.0  7.38

[5 rows x 26 columns]

In [ ]:
departing_airport = {"Boise Air Terminal":0,
                    "John F. Kennedy International":1,
                    "Ronald Reagan Washington National":2,
                    "Lambert-St. Louis International":3,
                    "Nashville International":4,
                    "Kansas City International":5,
                    "Louis Armstrong New Orleans International":6,
                    "Portland International":7,
                    "Southwest Florida International":8,
                    "Sanford NAS":9,
                    "Northwest Arkansas Regional":10,
                    "Piedmont Triad International":11,
                    "Tulsa International":12,
                    "Jacksonville International":13,
                    "Long Beach Daugherty Field":14,
                    "Logan International":15,
                    "Philadelphia International":16,
                    "Indianapolis Muni/Weir Cook":17,
                    "Raleigh-Durham International":18,
                    "Hollywood-Burbank Midpoint":19,
                    "Los Angeles International":20,
                    "Myrtle Beach International":21,
                    "Theodore Francis Green State":22,
                    "Fort Lauderdale-Hollywood International":23,
                    "Chicago Midway International":24,
                    "Austin - Bergstrom International":25,
                    "Dallas Love Field":26,
                    "San Antonio International":27,
                    "Richmond International":28,
                    "Cleveland-Hopkins International":29,
                    "Eppley Airfield":30,
                    "Houston Intercontinental":31,
                    "Birmingham Airport":32,
                    "Detroit Metro Wayne County":33,
                    "Charleston International":34,
                    "Portland International Jetport":35,
                    "San Jose International":36,
                    "Rochester Monroe County":37,
                    "Bradley International":38,
                    "Pensacola Regional":39,
                    "Puerto Rico International":40,
                    "Keahole":41,
                    "Anchorage International":42,
                    "Adams Field":43,
                    "Truax Field":44,
                    "Albuquerque International Sunport":45,
                    "Orange County":46,
                    "San Diego International Lindbergh Fl":47,
                    "Friendship International":48,
                    "Phoenix Sky Harbor International":49,
                    "Salt Lake City International":50,
                    "Atlanta Municipal":51,
                    "Syracuse Hancock International":52,
                    "Greenville-Spartanburg":53,
                    "Tucson International":54,
                    "McGhee Tyson":55,
                    "Tampa International":56,
                    "Stapleton International":57,
                    "Memphis International":58,
                    "Dallas Fort Worth Regional":59,
                    "Lihue Airport":60,
                    "Cincinnati/Northern Kentucky International":61,
                    "Norfolk International":62,
                    "Washington Dulles International":63,
                    "Miami International":64,
                    "Reno/Tahoe International":65,
                    "Honolulu International":66,
                    "Douglas Municipal":67,
                    "Sacramento International":68,
                    "Minneapolis-St Paul International":69,
                    "Savannah/Hilton Head International":70,
                    "Des Moines Municipal":71,
                    "Palm Beach International":72,
                    "Albany International":73,
                    "Metropolitan Oakland International":74,
                    "Port Columbus International":75,
                    "Will Rogers World":76,
                    "Newark Liberty International":77,
                    "Seattle International":78,
                    "McCarran International":79,
                    "Palm Springs International":80,
                    "Kent County":81,
                    "Chicago O'Hare International":82,
                    "Greater Buffalo International":83,
                    "Spokane International":84,
                    "San Francisco International":85,
                    "William P Hobby":86,
                    "LaGuardia":87,
                    "James M Cox/Dayton International":88,
                    "Pittsburgh International":89,
                    "Orlando International":90,
                    "Kahului Airport":91,
                    "General Mitchell Field":92,
                    "Standiford Field":93,
                    "Ontario International":94,
                    "El Paso International":95}


encoded_df['DEPARTING_AIRPORT'] = encoded_df['DEPARTING_AIRPORT'].apply(lambda x: departing_airport[x])
encoded_df.head()

   MONTH  DAY_OF_WEEK  DEP_DEL15  DISTANCE_GROUP  ...  SNOW  SNWD  TMAX  AWND
0     11            1      False               4  ...   0.0   0.0  71.0  3.36
1      1            4      False               5  ...   0.0   0.0  27.0  6.04
2      6            6      False               4  ...   0.0   0.0  85.0  7.61
3      2            5       True               3  ...   0.0   0.0  62.0  2.91
4      4            7      False               3  ...   0.0   0.0  90.0  7.38

[5 rows x 26 columns]

In [ ]:
# Encoding "DEPARTURE_DELAY(>15 MINUTES)" feature
# False = 0
# True = 1
encoded_df['DEP_DEL15'] = encoded_df['DEP_DEL15'].astype(int)
encoded_df.head()

   MONTH  DAY_OF_WEEK  DEP_DEL15  DISTANCE_GROUP  ...  SNOW  SNWD  TMAX  AWND
0     11            1          0               4  ...   0.0   0.0  71.0  3.36
1      1            4          0               5  ...   0.0   0.0  27.0  6.04
2      6            6          0               4  ...   0.0   0.0  85.0  7.61
3      2            5          1               3  ...   0.0   0.0  62.0  2.91
4      4            7          0               3  ...   0.0   0.0  90.0  7.38

[5 rows x 26 columns]

In [ ]:
encoded_df = encoded_df.drop(columns='PREVIOUS_AIRPORT', axis=1)
encoded_df.head()

   MONTH  DAY_OF_WEEK  DEP_DEL15  DISTANCE_GROUP  ...  SNOW  SNWD  TMAX  AWND
0     11            1          0               4  ...   0.0   0.0  71.0  3.36
1      1            4          0               5  ...   0.0   0.0  27.0  6.04
2      6            6          0               4  ...   0.0   0.0  85.0  7.61
3      2            5          1               3  ...   0.0   0.0  62.0  2.91
4      4            7          0               3  ...   0.0   0.0  90.0  7.38

[5 rows x 25 columns]

In [ ]:
# Encoding categorical features with many unique values
#encoded_df = pd.get_dummies(encoded_df, columns=['CARRIER_NAME', 'DEPARTING_AIRPORT', 'PREVIOUS_AIRPORT'])
#encoded_df.head()

   MONTH  ...  PREVIOUS_AIRPORT_Yuma MCAS/Yuma International
0     11  ...                                              0
1      1  ...                                              0
2      6  ...                                              0
3      2  ...                                              0
4      4  ...                                              0

[5 rows x 490 columns]

In [ ]:
# Define the features set.
X = encoded_df.copy()
X = X.drop("DEP_DEL15", axis=1)
X.head()

   MONTH  DAY_OF_WEEK  DISTANCE_GROUP  DEP_BLOCK  ...  SNOW  SNWD  TMAX  AWND
0     11            1               4          2  ...   0.0   0.0  71.0  3.36
1      1            4               5          4  ...   0.0   0.0  27.0  6.04
2      6            6               4          1  ...   0.0   0.0  85.0  7.61
3      2            5               3          5  ...   0.0   0.0  62.0  2.91
4      4            7               3          3  ...   0.0   0.0  90.0  7.38

[5 rows x 24 columns]

In [ ]:
# Define the target set.
y = encoded_df["DEP_DEL15"].ravel()
y[:5]

array([0, 0, 0, 1, 0])

In [ ]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [ ]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [ ]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [ ]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0       116352         4415
Actual 1        24570         4663

In [ ]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0       116352         4415
Actual 1        24570         4663

Accuracy Score : 0.8067666666666666
Classification Report
              precision    recall  f1-score   support

           0       0.83      0.96      0.89    120767
           1       0.51      0.16      0.24     29233

    accuracy                           0.81    150000
   macro avg       0.67      0.56      0.57    150000
weighted avg       0.76      0.81      0.76    150000

In [ ]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.0334117 , 0.05719071, 0.067286  , 0.0443605 , 0.05864896,
       0.09413751, 0.04798367, 0.0092558 , 0.04671109, 0.04028549,
       0.05234013, 0.02052211, 0.00867393, 0.00739671, 0.00874828,
       0.10090038, 0.02081311, 0.02108792, 0.02199297, 0.04590258,
       0.005508  , 0.00421918, 0.09007603, 0.09254724])

In [ ]:
# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.10090038152551661, 'PLANE_AGE'),
 (0.09413751077025179, 'CONCURRENT_FLIGHTS'),
 (0.09254723753563421, 'AWND'),
 (0.09007602924806038, 'TMAX'),
 (0.06728600217565579, 'DISTANCE_GROUP'),
 (0.05864896084586816, 'SEGMENT_NUMBER'),
 (0.05719071053637604, 'DAY_OF_WEEK'),
 (0.05234012821573339, 'AIRLINE_AIRPORT_FLIGHTS_MONTH'),
 (0.047983670928464436, 'NUMBER_OF_SEATS'),
 (0.0467110865868248, 'AIRPORT_FLIGHTS_MONTH'),
 (0.04590258013604148, 'PRCP'),
 (0.044360500165897335, 'DEP_BLOCK'),
 (0.040285491991227315, 'AIRLINE_FLIGHTS_MONTH'),
 (0.03341169743826965, 'MONTH'),
 (0.02199297289742891, 'LONGITUDE'),
 (0.0210879151466241, 'LATITUDE'),
 (0.020813111981457875, 'DEPARTING_AIRPORT'),
 (0.020522110663121554, 'AVG_MONTHLY_PASS_AIRPORT'),
 (0.009255798917158295, 'CARRIER_NAME'),
 (0.00874828262594081, 'GROUND_SERV_PER_PASS'),
 (0.008673930441441591, 'AVG_MONTHLY_PASS_AIRLINE'),
 (0.007396712497009821, 'FLT_ATTENDANTS_PER_PASS'),
 (0.005507999631870944, 'SNOW'),
 (0.0042191770981247784, 'SNWD')]

In [ ]:
# Correlation Matrix & Extra Feature Selection
corr_matrix = encoded_df.corr()

In [ ]:
corr_matrix.style.background_gradient(cmap='coolwarm')

target = 'DEP_DEL15'
threshold = 0.015
correlation_scores = corr_matrix[(corr_matrix[target] > threshold) | (corr_matrix[target] < -threshold)][target]

correlation_scores.sort_values(ascending=False)

DEP_DEL15                   1.000000
DEP_BLOCK                   0.138847
SEGMENT_NUMBER              0.115103
PRCP                        0.085239
SNOW                        0.050990
AWND                        0.048003
SNWD                        0.027990
AIRPORT_FLIGHTS_MONTH       0.025291
LONGITUDE                   0.024659
AVG_MONTHLY_PASS_AIRPORT    0.023556
CONCURRENT_FLIGHTS          0.015538
DISTANCE_GROUP              0.015463
GROUND_SERV_PER_PASS       -0.016220
Name: DEP_DEL15, dtype: float64