In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot
% matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
from sklearn.preprocessing import StandardScaler 
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
# install PostgreSQL in Colab
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"

 * Starting PostgreSQL 10 database server
   ...done.
CREATE ROLE

In [ ]:
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://postgres:groupcgroupc@flight-delay-project.chgeeix9show.us-east-2.rds.amazonaws.com:5432/flight-delay-tables

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: postgres@flight-delay-tables'

In [ ]:
# Creating DataFrame from DB table "sample_train_test" using %sql 
# NOTE: Original table contain over 6mil data points so the team utilized R to randomly sample 600,000 for testing

df = %sql SELECT * FROM public.sample_train_test
df.head()

 * postgresql+psycopg2://postgres:***@flight-delay-project.chgeeix9show.us-east-2.rds.amazonaws.com:5432/flight-delay-tables

   MONTH  DAY_OF_WEEK  DEP_DEL15  DISTANCE_GROUP  ... SNOW  SNWD  TMAX  AWND
0     11            1      False               4  ...  0.0   0.0  71.0  3.36
1      1            4      False               5  ...  0.0   0.0  27.0  6.04
2      6            6      False               4  ...  0.0   0.0  85.0  7.61
3      2            5       True               3  ...  0.0   0.0  62.0  2.91
4      4            7      False               3  ...  0.0   0.0  90.0  7.38

[5 rows x 26 columns]

## Encoding Data

In [ ]:
df = df[['DEP_DEL15','DEP_BLOCK','SEGMENT_NUMBER','CONCURRENT_FLIGHTS','AIRLINE_AIRPORT_FLIGHTS_MONTH','AIRPORT_FLIGHTS_MONTH','PRCP','AWND','SNOW','TMAX']].copy()
df.head()

   DEP_DEL15   DEP_BLOCK  SEGMENT_NUMBER  ...  AWND  SNOW  TMAX
0      False   AFTERNOON               3  ...  3.36   0.0  71.0
1      False     EVENING               4  ...  6.04   0.0  27.0
2      False     MORNING               2  ...  7.61   0.0  85.0
3       True  LATE_NIGHT               8  ...  2.91   0.0  62.0
4      False      MIDDAY               3  ...  7.38   0.0  90.0

[5 rows x 10 columns]

In [ ]:
# Encoding "departure_block" feature
dep_block = {"EARLY_MORNING": 0,
             "MORNING": 1,
             "AFTERNOON": 2,
             "MIDDAY": 3,
             "EVENING": 4,
             "LATE_NIGHT": 5}

encoded_df = df.copy()
encoded_df['DEP_BLOCK'] = encoded_df['DEP_BLOCK'].apply(lambda x: dep_block[x])

In [ ]:
# Encoding "DEPARTURE_DELAY(>15 MINUTES)" feature
# False = 0
# True = 1
encoded_df['DEP_DEL15'] = encoded_df['DEP_DEL15'].astype(int)

## Split dataset

In [ ]:
# Separate the features from the target
X = encoded_df.drop(columns='DEP_DEL15')
y = encoded_df['DEP_DEL15']

In [ ]:
# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(450000, 9)

## Scale

In [ ]:
# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

# Scaling data
X_train = X_scaler.transform(X_train)
X_test = X_scaler.transform(X_test)

## KNN model

In [ ]:
# Instantiate KNN model classifier
classifier = KNeighborsClassifier(n_neighbors=5)

# Fitting the data
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

## Prediction

In [ ]:
predictions = classifier.predict(X_test)

In [ ]:
results_df = pd.DataFrame({'Prediction': predictions,
                           'Actual': y_test}).reset_index(drop=True)
results_df.head(20)

    Prediction  Actual
0            0       0
1            0       0
2            0       0
3            0       0
4            0       1
5            0       0
6            1       0
7            0       0
8            0       0
9            0       0
10           0       0
11           0       0
12           0       1
13           0       0
14           0       0
15           0       0
16           0       0
17           0       0
18           0       0
19           0       0

## Validation

In [ ]:
# Generating a Confusion Matrix 
cm = confusion_matrix(y_test, predictions)

cm_df = pd.DataFrame(cm, index=['Actual 0', 'Actual 1'], columns=['Predicted 0', 'Predicted 1'])

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print('--------------------------------------------------------')
print(f"Accuracy Score : {acc_score}")
print('--------------------------------------------------------')
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0       112852         7751
Actual 1        24406         4991

--------------------------------------------------------
Accuracy Score : 0.78562
--------------------------------------------------------
Classification Report
              precision    recall  f1-score   support

           0       0.82      0.94      0.88    120603
           1       0.39      0.17      0.24     29397

    accuracy                           0.79    150000
   macro avg       0.61      0.55      0.56    150000
weighted avg       0.74      0.79      0.75    150000

## Correlation matrix & Feature selection

In [ ]:
corr_matrix = encoded_df.corr()

In [ ]:
corr_matrix.style.background_gradient(cmap='coolwarm')

target = 'DEP_DEL15'
threshold = 0.015
correlation_scores = corr_matrix[(corr_matrix[target] > threshold) | (corr_matrix[target] < -threshold)][target]

correlation_scores.sort_values(ascending=False)

DEP_DEL15                1.000000
DEP_BLOCK                0.138847
SEGMENT_NUMBER           0.115103
PRCP                     0.085239
SNOW                     0.050990
AWND                     0.048003
AIRPORT_FLIGHTS_MONTH    0.025291
CONCURRENT_FLIGHTS       0.015538
Name: DEP_DEL15, dtype: float64