## **Project Overview**

The targeted goal of this analysis is to predict departure delays based on various features. 
This will provide insights on how likely your next flight would be delayed based on if certain conditions are being met, such as the weather or the time of your travel to name a few. 

**Target:**

-  Delay (over 15 minutes)

**Features:**
- Month
- Age of Departing Aircraft
- Departure Block (time of day)
- Carrier Name
- Max Temp
- Wind Speed
- Snowfall
- Precipitation
- Departing Airport
- Airport Flights


**Models:**
- Linear Regression
- Support vector machine (SVM)

**Dataset used:**
[2019 Airline Delays w/ Weather and Airport Detail](https://www.kaggle.com/threnjen/2019-airline-delays-and-cancellations)

**SVM Explanation:**

A Support Vector Machine model is similar to a logistic regression model in that is also a binary classifier, it splits the sample in to two categories; in our data set the two categories being Delayed or Not Delayed. While SVM seeks to split our dataset into two categories, it does not do so as rigorously as a linear regression model. SMV allows for "soft" margins and has logic implemented which accounts for outliers and may make exceptions for them. This means some data points past the "cut off" line/point may still be sorted into the opposite classification.

In [ ]:
# SMV Machine Learning Mockup

# Note: Work is mainly conducted on Google Colab, the file uploaded to Github is for instructor/public access. 

# Importing Dependencies 
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [ ]:
# installing Postgress
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"

 * Starting PostgreSQL 10 database server
   ...done.
CREATE ROLE

In [ ]:
# setting connection to DB
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://USERNAME:groupcgroupc@flight-delay-project.chgeeix9show.us-east-2.rds.amazonaws.com:5432/flight-delay-tables

'Connected: postgres@flight-delay-tables'

In [ ]:
#notes:
# URL Format: https://stackoverflow.com/questions/3582552/what-is-the-format-for-the-postgresql-connection-string-url
#%sql postgresql+psycopg2://@/postgres
#DATABASE_URL=postgres://{postgress}:{groupcgroupc}@{flight-delay-project.chgeeix9show.us-east-2.rds.amazonaws.com}:{5432}/{flight-delay-tables}
#%sql postgresql://username:@localhost:5432/username

# Stackoverflow on setting up connection: https://stackoverflow.com/questions/61030755/connect-to-postresql-database-from-google-colab
#postgres:groupcgroupc@flight-delay-project.chgeeix9show.us-east-2.rds.amazonaws.com:5432/flight-delay-tables

In [ ]:
#Creating Dataframe from table
#pg_catalog.pg_tables
test_df = %sql SELECT * FROM public.sample_train_test
test_df.head()

 * postgresql+psycopg2://postgres:***@flight-delay-project.chgeeix9show.us-east-2.rds.amazonaws.com:5432/flight-delay-tables

   MONTH  DAY_OF_WEEK  DEP_DEL15  DISTANCE_GROUP  ... SNOW  SNWD  TMAX  AWND
0     11            1      False               4  ...  0.0   0.0  71.0  3.36
1      1            4      False               5  ...  0.0   0.0  27.0  6.04
2      6            6      False               4  ...  0.0   0.0  85.0  7.61
3      2            5       True               3  ...  0.0   0.0  62.0  2.91
4      4            7      False               3  ...  0.0   0.0  90.0  7.38

[5 rows x 26 columns]

In [ ]:
test_df.columns

Index(['MONTH', 'DAY_OF_WEEK', 'DEP_DEL15', 'DISTANCE_GROUP', 'DEP_BLOCK',
       'SEGMENT_NUMBER', 'CONCURRENT_FLIGHTS', 'NUMBER_OF_SEATS',
       'CARRIER_NAME', 'AIRPORT_FLIGHTS_MONTH', 'AIRLINE_FLIGHTS_MONTH',
       'AIRLINE_AIRPORT_FLIGHTS_MONTH', 'AVG_MONTHLY_PASS_AIRPORT',
       'AVG_MONTHLY_PASS_AIRLINE', 'FLT_ATTENDANTS_PER_PASS',
       'GROUND_SERV_PER_PASS', 'PLANE_AGE', 'DEPARTING_AIRPORT', 'LATITUDE',
       'LONGITUDE', 'PREVIOUS_AIRPORT', 'PRCP', 'SNOW', 'SNWD', 'TMAX',
       'AWND'],
      dtype='object')

In [ ]:
# Encoding Data

#Note - Find way to not have carrier_name not encoded here but rather to import table hernan created

#test_df = pd.get_dummies(test_df, columns=['DEP_DEL15', 'DEP_BLOCK', 'CONCURRENT_FLIGHTS', 'CARRIER_NAME', 'AIRPORT_FLIGHTS_MONTH',
#       'AIRLINE_AIRPORT_FLIGHTS_MONTH','DEPARTING_AIRPORT', 'PRCP', 'SNOW','AWND'])
#test_df.head()

   MONTH  DAY_OF_WEEK  DISTANCE_GROUP  ...  AWND_32.44  AWND_32.88  AWND_33.78
0      1            5               2  ...           0           0           0
1      8            4               5  ...           0           0           0
2      6            6               1  ...           0           0           0
3      5            1               2  ...           0           0           0
4      2            7               3  ...           0           0           0

[5 rows x 3870 columns]

In [ ]:
# Encoding "departure_block" feature
dep_block = {"EARLY_MORNING": 0,
             "MORNING": 1,
             "AFTERNOON": 2,
             "MIDDAY": 3,
             "EVENING": 4,
             "LATE_NIGHT": 5}

encoded_df = test_df.copy()
encoded_df['DEP_BLOCK'] = encoded_df['DEP_BLOCK'].apply(lambda x: dep_block[x])

In [ ]:
# Encoding "DEPARTURE_DELAY(>15 MINUTES)" feature
# False = 0
# True = 1
encoded_df['DEP_DEL15'] = encoded_df['DEP_DEL15'].astype(int)
encoded_df.head()

   MONTH  DAY_OF_WEEK  DEP_DEL15  DISTANCE_GROUP  ...  SNOW  SNWD  TMAX  AWND
0     11            1          0               4  ...   0.0   0.0  71.0  3.36
1      1            4          0               5  ...   0.0   0.0  27.0  6.04
2      6            6          0               4  ...   0.0   0.0  85.0  7.61
3      2            5          1               3  ...   0.0   0.0  62.0  2.91
4      4            7          0               3  ...   0.0   0.0  90.0  7.38

[5 rows x 26 columns]

In [ ]:
# Encoding categorical features with many unique values
encoded_df = pd.get_dummies(encoded_df, columns=['CARRIER_NAME', 'DEPARTING_AIRPORT','PREVIOUS_AIRPORT'])
encoded_df.head()

   MONTH  ...  PREVIOUS_AIRPORT_Yuma MCAS/Yuma International
0     11  ...                                              0
1      1  ...                                              0
2      6  ...                                              0
3      2  ...                                              0
4      4  ...                                              0

[5 rows x 490 columns]

In [ ]:
# Importing standard scaler 
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [ ]:
# Scaling the data 
flight_data_scaled = data_scaler.fit_transform(encoded_df)

In [ ]:
flight_data_scaled[:5]

array([[ 1.32893569, -1.47483162, -0.49370538, ..., -0.0056274 ,
        -0.00816524, -0.01698283],
       [-1.55537525,  0.03339207, -0.49370538, ..., -0.0056274 ,
        -0.00816524, -0.01698283],
       [-0.11321978,  1.03887453, -0.49370538, ..., -0.0056274 ,
        -0.00816524, -0.01698283],
       [-1.26694415,  0.5361333 ,  2.02549951, ..., -0.0056274 ,
        -0.00816524, -0.01698283],
       [-0.69008197,  1.54161576, -0.49370538, ..., -0.0056274 ,
        -0.00816524, -0.01698283]])

In [ ]:
# Segmenting the features from the target
y = encoded_df["DEP_DEL15"]
X = encoded_df.drop(columns='DEP_DEL15', axis=1).values
#X = test_df.drop(columns=["DEP_DEL15", "DAY_OF_WEEK", "DISTANCE_GROUP", "SEGMENT_NUMBER", "CONCURRENT_FLIGHTS", "NUMBER_OF_SEATS", "AIRLINE_FLIGHTS_MONTH", "AIRLINE_AIRPORT_FLIGHTS_MONTH", "AVG_MONTHLY_PASS_AIRPORT", "AVG_MONTHLY_PASS_AIRLINE", "FLT_ATTENDANTS_PER_PASS", "GROUND_SERV_PER_PASS", "LATITUDE", "LONGITUDE", "PREVIOUS_AIRPORT", "SNWD"], axis=1)

In [ ]:
print(X.shape)
print(y.shape)

(600000, 489)
(600000,)

In [ ]:
# Utilizing train_test_split function to create training and testing subsets
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(450000, 489)

In [ ]:
# Instantiate a linear SVM model
model = SVC(kernel='linear')

In [ ]:
# Fiting the data
model.fit(X_train, y_train)

The following section will score the model utilizing test data and then go on to make a prediction.

In [ ]:
# Making predictions using the test data
y_pred = model.predict(X_test)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)
results.head()

In [ ]:
# Generating an accuracy score 
accuracy_score(y_test, y_pred)

In [ ]:
# Generating a Confusion Matrix 
confusion_matrix(y_test, y_pred)

In [ ]:
# Generating a Classification Report
print(classification_report(y_test, y_pred))